<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset</title>
</head>
<body>
<div style="color: white; background-color: #131313; border: 1px solid rgba(255, 255, 255, 0.5); border-radius: 5px;">
    <div style="border-bottom: 1px solid rgba(255, 255, 255, 0.5); padding: 20px;">
        <span style="font-weight: bold; font-size: 24px;">LIZZYCHAT.COM</span>
    </div>
    <div style="padding: 20px; text-align: center; background-color: #000;">
        <span style="color: #ff6e06; font-size: 32px; font-weight: bold;">Password Reset</span>
        <div style="margin-top: 20px;">
            <span style="color: white; font-size: 24px; font-weight: bold;">Code: </span>
            <span style="color: #ffc000; font-size: 24px; font-weight: bold;" th:text="${code}"></span>
        </div>
    </div>
</div>
</body>
</html>

